{% extends 'base.html'%}
{% block head %}
<title>business</title>
{% endblock %}
{% block body %}
<h1>WELCOME</h1>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Managements</h1>
            <p>Keep books managed</p>
            <p>Enjoy ur day!!</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to records
                    &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}